In [102]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [103]:
df = pd.read_csv('Homework - Advance Data Preprocessing.csv')

In [127]:
df.head()

                                               texts Sentiment
0  Saya tidak mau! Pokoknya hari ini kamu harus p...   Negatif
1            Kenapa kamu masih mencari yang lain????   Negatif
2  Ada 3 buku yang belum aku baca, 2 diantaranya ...    Netral
3             Hebat! Kamu memang pantas jadi juara!!   Positif
4      Selamat berakhir pekan teman-teman semua :)))   Positif

In [124]:
df.columns

Index(['texts', 'Sentiment'], dtype='object')

## Cleaning

In [105]:
import nltk
nltk.download ('stopwords')
nltk.download ('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rossa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rossa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [106]:
##Membuat kalimat yang menggunakan huruf kapital menjadi huruf kecil
kalimat = "Saya tidak mau! Pokoknya hari ini kamu harus pulang!!!."
lower_case = kalimat.lower()
print(lower_case)

saya tidak mau! pokoknya hari ini kamu harus pulang!!!.

In [107]:
##Menghapus numerik pada kalimat
import re
kalimat = "Halo! Perkenalkan aku Budi. Umurku 20 tahun. Salam kenal!."
hasil = re.sub(r"\d+", "", kalimat)
print(hasil)

Halo! Perkenalkan aku Budi. Umurku  tahun. Salam kenal!.

In [108]:
##Mengubah numerik menjadi bentuk karakter
import inflect
kalimat = "There are 3 books that I haven't read, 2 of them are still wrapped"
p = inflect.engine()
hasil = []
for i in kalimat.split():
  if i.isnumeric():
    i = p.number_to_words(i)
  hasil.append(i)
hasil = " ".join(hasil)
print(hasil)

There are three books that I haven't read, two of them are still wrapped

In [109]:
##Penghapusan non karakter
import string
kalimat = "Selamat berakhir pekan teman-teman semua :)))"
hasil = kalimat.translate(str.maketrans("","",string.punctuation))
print(hasil)

Selamat berakhir pekan temanteman semua

In [110]:
##Menghapus URL pada kalimat
kalimat = "Tempat ini kotor sekali! Aku tidak mau kesini lagi! http://www.tempatkotor.com"
print(re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", kalimat))

Tempat ini kotor sekali! Aku tidak mau kesini lagi!

In [111]:
kalimat = "Sepertinya aku belum coba ini kamu gimana? @kawanku #teman"
kalimat1 = "Lelah banget pulang sekolah @jakasetia2. Mau tidur aja rasanya #capek #lelah #letih"
print(re.sub("#[A-Za-z0-9]+","",kalimat)) #tanpa hashtag
print(re.sub("@[A-Za-z0-9]+","",kalimat1)) #tanpa mention

Sepertinya aku belum coba ini kamu gimana? @kawanku
Lelah banget pulang sekolah . Mau tidur aja rasanya #capek #lelah #letih

## Tokenizing

In [112]:
##Memisahkan kalimat berdasarkan spasi 
kalimat = "Hebat! Kamu memang pantas jadi juara!!"
pisah = kalimat.split()
print(pisah)

['Hebat!', 'Kamu', 'memang', 'pantas', 'jadi', 'juara!!']

In [113]:
##Memisahkan kalimat berdasarkan spasi dan tanda baca
from nltk.tokenize import word_tokenize 
 
kalimat = "Kenapa kamu masih mencari yang lain????" 
tokens = nltk.tokenize.word_tokenize(kalimat)
print(tokens)

['Kenapa', 'kamu', 'masih', 'mencari', 'yang', 'lain', '?', '?', '?', '?']

In [114]:
##Memisahkan 2 kalimat berdasarkan spasi setelah tanda baca
from nltk.tokenize import sent_tokenize
kalimat = "Ada 3 buku yang belum aku baca 2 diantaranya masih dibungkus. Masakan mama enak sekali!."
 
tokens = nltk.tokenize.sent_tokenize(kalimat)
print(tokens)

['Ada 3 buku yang belum aku baca 2 diantaranya masih dibungkus.', 'Masakan mama enak sekali!.']

In [115]:
from nltk.corpus import stopwords
 
kalimat = "Halo! Perkenalkan aku Budi. Umurku 20 tahun. Salam kenal!. Ada 3 buku yang belum aku baca 2 diantaranya masih dibungkus."
kalimat = kalimat.translate(str.maketrans('','',string.punctuation)).lower()
 
tokens = word_tokenize(kalimat)
listStopword =  set(stopwords.words('indonesian'))
 
removed = []
for t in tokens:
    if t not in listStopword:
        removed.append(t)
 
print(removed)

['halo', 'perkenalkan', 'budi', 'umurku', '20', 'salam', 'kenal', '3', 'buku', 'baca', '2', 'dibungkus']

In [116]:
list(listStopword)[20:30]

['selama',
 'artinya',
 'tersampaikan',
 'hingga',
 'sesudah',
 'dikatakannya',
 'ditanyakan',
 'secara',
 'saling',
 'sebagian']

In [117]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
factory = StemmerFactory()
stemmer = factory.create_stemmer()
 
kalimat = "Halo! Perkenalkan aku Budi. Umurku 20 tahun. Salam kenal!. Ada 3 buku yang belum aku baca 2 diantaranya masih dibungkus."
hasil = stemmer.stem(kalimat)
print(hasil)

halo kenal aku budi umur 20 tahun salam kenal ada 3 buku yang belum aku baca 2 antara masih bungkus

##Memisahkan 2 kalimat berdasarkan spasi setelah tanda baca
from nltk.tokenize import sent_tokenize
kalimat = "Ada 3 buku yang belum aku baca 2 diantaranya masih dibungkus. Masakan mama enak sekali!."
 
tokens = nltk.tokenize.sent_tokenize(kalimat)
print(tokens)

## Vectorization

In [ ]:
df_x

In [164]:
def cleaning_tokenizing(txt):
  txt = txt.lower() # menjadi huruf kecil semua
  txt = txt.translate(str.maketrans("","",string.punctuation)) #hapus symbol
  txt = nltk.tokenize.word_tokenize(txt) # tokenize
  return txt
df["texts"].apply(cleaning_tokenizing)

0    [saya, tidak, mau, pokoknya, hari, ini, kamu, ...
1           [kenapa, kamu, masih, mencari, yang, lain]
2    [ada, 3, buku, yang, belum, aku, baca, 2, dian...
3           [hebat, kamu, memang, pantas, jadi, juara]
4        [selamat, berakhir, pekan, temanteman, semua]
5    [halo, perkenalkan, aku, budi, umurku, 20, tah...
6                        [masakan, mama, enak, sekali]
7    [sepertinya, aku, belum, coba, ini, kamu, gima...
8    [lelah, banget, pulang, sekolah, mau, tidur, a...
9    [tempat, ini, kotor, sekali, aku, tidak, mau, ...
Name: texts, dtype: object

In [148]:
def cleaning_tokenizing(txt):
  txt = txt.lower() # menjadi huruf kecil semua
  txt = txt.translate(str.maketrans("","",string.punctuation)) #hapus symbol
  txt = nltk.tokenize.word_tokenize(txt) # tokenize
  return txt
df["Sentiment"].apply(cleaning_tokenizing)

0    [negatif]
1    [negatif]
2     [netral]
3    [positif]
4    [positif]
5    [positif]
6    [positif]
7     [netral]
8     [netral]
9    [negatif]
Name: Sentiment, dtype: object

In [135]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
text_counts= cv.fit_transform(df["texts"])
pd.DataFrame(text_counts.toarray(), columns = cv.get_feature_names())

,20,ada,aja,aku,baca,banget,belum,berakhir,budi,buku,...,sepertinya,tahun,teman,tempat,tempatkotor,tidak,tidur,umurku,www,yang
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,1,0,1,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,2,0,0,0,0,0,0,0
5,1,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
8,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,1,0

In [165]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
text_counts= cv.fit_transform(df["Sentiment"])
pd.DataFrame(text_counts.toarray(), columns = cv.get_feature_names())

   negatif  netral  positif
0        1       0        0
1        1       0        0
2        0       1        0
3        0       0        1
4        0       0        1
5        0       0        1
6        0       0        1
7        0       1        0
8        0       1        0
9        1       0        0

In [158]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer()
text_counts= cv.fit_transform(df["texts"])
pd.DataFrame(text_counts.toarray(), columns = cv.get_feature_names())

,20,ada,aja,aku,baca,banget,belum,berakhir,budi,buku,...,sepertinya,tahun,teman,tempat,tempatkotor,tidak,tidur,umurku,www,yang
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.321562,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.384718
2,0.000000,0.362614,0.000000,0.239771,0.362614,0.000000,0.308255,0.000000,0.000000,0.362614,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.308255
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.353553,0.000000,0.000000,...,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.344271,0.000000,0.000000,0.227642,0.000000,0.000000,0.000000,0.000000,0.344271,0.000000,...,0.000000,0.344271,0.000000,0.000000,0.000000,0.000000,0.000000,0.344271,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.266628,0.000000,0.000000,0.342783,0.000000,0.000000,0.000000,...,0.403231,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.285414,0.000000,0.000000,0.285414,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285414,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.199470,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.301665,0.301665,0.256443,0.000000,0.000000,0.301665,0.000000

In [166]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer()
text_counts= cv.fit_transform(df["Sentiment"])
pd.DataFrame(text_counts.toarray(), columns = cv.get_feature_names())

   negatif  netral  positif
0      1.0     0.0      0.0
1      1.0     0.0      0.0
2      0.0     1.0      0.0
3      0.0     0.0      1.0
4      0.0     0.0      1.0
5      0.0     0.0      1.0
6      0.0     0.0      1.0
7      0.0     1.0      0.0
8      0.0     1.0      0.0
9      1.0     0.0      0.0